//color

$fs_color_primary: #002878;
$color_primary: #ff9505;
$color_foundation_400: #ffaa37;
$color_foundation_300: #ffb858;
$color_foundation_200: #ffce8c;
$color_foundation_100: #ffdeb2;
$color_foundation_50: #fff4e6;
$color_foundation_600: #e88805;
$color_foundation_700: #b56a04;
$color_foundation_800: #8c5203;
$color_foundation_900: #6b3f02;

$color_error: #fe2e27;
$color_success: #13c735;
$color_warning: #ffc400;
$color_sub_color: #0569ff;

$color_white: #ffffff;
$color_black: #1d1d1d;

$color_background: #fff8f0;

$color_neutral_4: #828282;
$color_neutral_5: #404040;

$color_disable: #f5f5f5;
$color_dash: #d9d9d9;

$color_level_sr_primary: #11867f;
$color_level_sr_secondary: #93d4d1;
$color_level_sr_background: #e8fffe;
$color_level_ps_primary: #535352;
$color_level_ps_secondary: #b7b7b7;
$color_level_ps_background: #f0ece6;
$color_level_md_primary: #7951ac;
$color_level_md_secondary: #b996e3;
$color_level_md_background: #e3cdfe;
$color_level_jr_primary: #00de3f;
$color_level_jr_secondary: #82d198;
$color_level_jr_background: #dfffe8;
$color_level_fs_primary: #0083d1;
$color_level_fs_secondary: #13a3fa;
$color_level_fs_background: #d6f3ff;
$color_level_ex_primary: #df1313;
$color_level_ex_secondary: #d36f6f;
$color_level_ex_background: #ffc9c9;
$color_disable_input: #efefef;
// styles

$input_height: 48px;
