@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: #1677ff;
}

// font text
.great-vibes {
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
}

.ms-madi {
  font-family: "Ms Madi", serif;
  font-weight: 400;
  font-style: normal;
}

.windsong {
  font-family: "WindSong", serif;
  font-weight: 400;
  font-style: normal;
}

.alex-brush {
  font-family: "Alex Brush", serif;
  font-weight: 400;
  font-style: normal;
}

.domine {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.redditSansCondensed {
  font-family: "Reddit Sans Condensed", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.notoSans {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.bodoniModa {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.parisienneRegular {
  font-family: "Parisienne", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


// css
.cloudContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  overflow: hidden;
}

/* Mây trái */
.cloud {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100vh;
}

.cloudLeft {
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveLeft 2s ease-in-out forwards;
  background-image: url('/images/1-Photoroom.png');
  background-size: none; /* Hoặc dùng contain tùy mục đích */
  background-position: none; /* Đặt tâm ảnh nền */
  background-repeat: no-repeat; /* Ngăn không lặp ảnh */
}

.cloudRight {
  right: 50%;
  transform: translate(50%, -50%);
  animation: moveRight 2s ease-in-out forwards;
  background-image: url('/images/2-Photoroom.png');
  background-size: none; /* Hoặc dùng contain tùy mục đích */
  background-position: none; /* Đặt tâm ảnh nền */
  background-repeat: no-repeat; /* Ngăn không lặp ảnh */
}

@media only screen and (min-width: 720px) {
  .cloudLeft {
    left: 20%;
    transform: translate(-50%, -50%);
    animation: moveLeft 2s ease-in-out forwards;
    background-image: url('/images/may-l.png');
    background-size: cover; /* Hoặc dùng contain tùy mục đích */
    background-position: center; /* Đặt tâm ảnh nền */
    background-repeat: no-repeat; /* Ngăn không lặp ảnh */
  }
  
  .cloudRight {
    right: 20%;
    transform: translate(50%, -50%);
    animation: moveRight 2s ease-in-out forwards;
    background-image: url('/images/may-r.png');
    background-size: cover; /* Hoặc dùng contain tùy mục đích */
    background-position: center; /* Đặt tâm ảnh nền */
    background-repeat: no-repeat; /* Ngăn không lặp ảnh */
  }
}

/* Nội dung ẩn lúc đầu */
.content {
  opacity: 0;
  transition: opacity 1s ease-in-out 2s;
}

.visible {
  opacity: 1;
}

/* Hiệu ứng mây trượt */
@keyframes moveLeft {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-150%, -50%);
  }
}

@keyframes moveRight {
  0% {
    transform: translate(50%, -50%);
  }
  100% {
    transform: translate(150%, -50%);
  }
}

.gm-fullscreen-control {
  display: none;
}